.main-block {
  padding-bottom: 19.35vw;
  background: #00392e;
}
.yellow-btn {
  padding: 0.8333vw 3.593vw;
  font-family: "Gochi Hand", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2987012987012987vw;
  line-height: 28px;
  text-align: center;
  background-color: #fccf00;
  border: none;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  outline: inherit;
  @media (max-width: 767px) {
    font-size: 5.1948vw;
    padding: 3.332vw 14.372vw;
  }
}
.green-btn {
  height: 3.125vw;
  font-family: "Gochi Hand", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2987012987012987vw;
  text-align: center;
  background-color: #005141;
  border: none;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  outline: inherit;
  @media (max-width: 767px) {
    font-size: 5.192vw;
    height: 12.5vw;
  }
}
.float-left {
  float: left;
  @media (max-width: 767px) {
    float: none;
  }
}
.float-right {
  float: right;
  @media (max-width: 767px) {
    float: none;
  }
}
.menu {
  height: 5.84vw;
  @media (max-width: 767px) {
    padding: 20px;
    height: 22.84vw;
  }
  .logo {
    margin-top: 1.0417vw;
    width: 11.458vw;
    @media (max-width: 767px) {
      float: left;
      width: 50vw;
    }
  }
  .menutab {
    float: right;
    list-style: none;
    background: #00392e;
    padding: 2.08333vw;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    li {
      float: left;
      font-size: 0.8333vw;
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      margin-right: 1.45833vw;
      &:last-child {
        margin-right: 0;
      }
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .mobilemenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 95vw;
    height: 100vh;
    background-color: #00392e;
    z-index: 99999;
    text-align: left;
    list-style: none;
    font-size: 5.332vw;
    font-family: "Montserrat", sans-serif;
    padding-top: 15.23vw;
    transition: left 1s;
    @media (min-width: 768px) {
      display: none;
    }
    li {
      margin-bottom: 3.15vw;
      a {
        color: #fff;
        text-decoration: none;
      }
      &:first-child {
        text-align: right;
        padding-right: 2rem;
      }
    }
  }
}
.menuButton {
  background-color: #fccf00;
  border: none;
  border-radius: 50%;
  padding: 3px 7px;
  color: #fff;
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
  &.open {
    float: right;
    top: 2.66vw;
    position: relative;
  }
  @media (min-width: 768px) {
    display: none;
  }
}
section:nth-child(1) {
  background: url("./img/s1.png") no-repeat, #015f4d no-repeat center center;
  width: 100%;
  height: 50vw;
  background-size: 100% 100%;
  @media (max-width: 767px) {
    background-size: cover;
    height: auto;
    padding-bottom: 90px;
  }
  .bonobo-content-card {
    color: #fff;
    padding: 0 18.3vw;
    @media (max-width: 767px) {
      text-align: center;
      padding: 0 10px;
    }
    .bonobo-heading {
      padding-top: 6.177vw;
      strong {
        font-size: 1.2987012987012987vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        color: #ffffff;
        @media (max-width: 767px) {
          font-size: 5vw;
          line-height: 2.92vw;
        }
      }
      h1 {
        color: #ffffff;
        font-family: "Gochi Hand", cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 8.3333vw;
        line-height: 9.843vw;
        @media (max-width: 767px) {
          font-size: 19.33vw;
          line-height: 19.83vw;
        }
      }
    }
    .bonobo-content {
      margin-top: 1.5rem;
      p {
        font-family: "Montserrat", sans-serif;
        color: #fff;
        width: 37em;
        padding-bottom: 5px;
        font-style: normal;
        font-weight: 500;
        font-size: 0.8333vw;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          width: 90%;
          margin: auto;
          font-size: 3.332vw;
          line-height: 5vw;
        }
      }
    }
    .bonobo-button {
      margin-top: 2.968vw;
    }
    .bonobo {
      width: 20.833vw;
      position: relative;

      @media (min-width: 768px) {
        left: 2.083vw;
        top: 13.125vw;
      }
      @media (max-width: 767px) {
        width: 60.332vw;
        top: 9.3vw;
      }
    }
  }
}
section:nth-child(2) {
  background: #015f4d no-repeat center center;
  position: relative;
  max-width: 100%;
  overflow-y: auto;
  .s2-bonobo-content-card {
    width: 62.5%;
    color: #fff;
    padding: 6.51vw 12.13vw 0 18.3vw;
    @media (max-width: 767px) {
      text-align: center;
      width: 100%;
      padding: 20px;
    }
    strong {
      font-size: 1.25vw;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 800;
      line-height: 1.25vw;
      @media (max-width: 767px) {
        font-size: 5vw;
        line-height: 5vw;
      }
    }
    h2 {
      font-size: 5vw;
      font-family: "Gochi Hand", cursive;
      font-style: normal;
      font-weight: normal;
      line-height: 5.2vw;
      margin-bottom: 1.25vw;
      @media (max-width: 767px) {
        line-height: 17.83vw;
        font-size: 17.83vw;
      }
    }
    ul {
      padding-left: 10px;
      li {
        margin: 10px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.833vw;
        line-height: 1.25vw;
        text-align: left;
        @media (max-width: 767px) {
          font-size: 3.332vw;
          line-height: 5vw;
        }
      }
    }
    p {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 0.833vw;
      line-height: 1.25vw;
      @media (max-width: 767px) {
        font-size: 3.332vw;
        line-height: 5vw;
      }
      b {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
      }
    }
  }
  .imgs {
    width: 37.5%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  .leafsun {
    background: #00a259;
  }
  button {
    margin-top: 3.073vw;
    @media (min-width: 768px) and (max-width: 1200px) {
      margin-top: 0.073vw;
    }
  }
}
.social-network-block {
  background-color: #fccf00;
  color: #fff;
  position: relative;
  padding: 3.12vw 0 3.12vw 18.3vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    text-align: center;
  }
  .content {
    overflow-y: auto;
    .media-block {
      display: inline-block;
      place-content: start;
      align-items: center;
      padding-top: 1.04vw;
      img {
        width: 3.125vw;
        @media (max-width: 767px) {
          width: 12.5vw;
          margin-right: 6.25vw;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      a {
        margin-right: 1.572vw;
        @media (max-width: 767px) {
          margin-right: 6.25vw;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .heading {
        font-family: "Gochi Hand", cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 3.2467532467532467vw;
        line-height: 3.125vw;
        color: #ffffff;
        margin-bottom: 1.04vw;
        display: inline-block;
        @media (max-width: 767px) {
          font-size: 12.98vw;
          line-height: 19.5vw;
        }
      }
    }
    .email-block {
      margin-left: 15.4vw;
      @media (max-width: 767px) {
        margin: auto;
        text-align: center;
      }
      p {
        width: 20.68vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 1.2987012987012987vw;
        line-height: 1.66vw;
        @media (max-width: 767px) {
          text-align: center;
          width: auto;
          font-size: 5.192vw;
          line-height: 6.64vw;
          margin-top: 5.17vw;
        }
      }
      label {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 0.8658008658008658vw;
        display: inline-block;
        margin-top: 1.56vw;
        @media (max-width: 767px) {
          font-size: 3.44vw;
        }
      }
      input[type="email"] {
        border: none;
        border-radius: 1.56vw;
        resize: vertical;
        margin-top: 10px;
        margin-right: 15px;
        font-size: 0.83vw;
        padding: 1.04vw;
        width: 19.68vw;
        @media (max-width: 767px) {
          width: 58.72vw;
          display: block;
          margin: 4.16vw auto;
          font-size: 3.32vw;
          padding: 2.16vw 4.16vw;
        }
      }
      input:focus {
        outline: none !important;
      }
      button {
        width: 8.8vw !important;
        @media (max-width: 767px) {
          width: 35.2vw !important;
        }
      }
    }
  }
}
section:nth-child(4) {
  background: url("./img/Mask Group.png") no-repeat, #015f4d no-repeat;
  background-size: 100%;
  position: relative;
  width: 100%;
  height: 50vw;
  padding: 6.77vw 18.3vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    text-align: center;
    background-size: cover;
    height: auto;
  }
  .content {
    .s3-bonobo-heading-block {
      color: #fff;
      strong {
        font-size: 1.2987012987012987vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          font-size: 5.1948vw;
          line-height: 5vw;
        }
      }
      h2 {
        font-family: "Gochi Hand", cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 5.411255411255412vw;
        line-height: 5.2vw;
        @media (max-width: 767px) {
          font-size: 19.644vw;
          line-height: 17.8vw;
          margin-bottom: -5.33vw;
        }
      }
    }
    .s3-bonobo-main-block {
      color: #fff;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2em;
      justify-content: space-around;
      height: 100%;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 2rem;
      @media (max-width: 767px) {
        display: initial;
      }
      .card {
        border-radius: 13px;
        padding: 3.125vw 1.562vw;
        background-color: #005141;
        font-size: 15px;
        width: 19.68vw;
        height: 29.08vw;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        @media (max-width: 767px) {
          margin: 20px 0;
          width: 100%;
          text-align: left;
          padding: 12.5vw 6.25vw;
          height: auto;
        }
      }
      .card-heading {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 1.2987012987012987vw;
        line-height: 1.67vw;
        padding-bottom: 1.25vw;
        @media (max-width: 767px) {
          font-size: 7.12vw;
          line-height: 6.68vw;
          padding-bottom: 5vw;
        }
      }
      .card-svg {
        .heart-img {
          width: 5.058vw;
          height: 4.167vm;
          margin-bottom: 2.083vw;
          @media (max-width: 767px) {
            width: 20.232vw;
            height: 16.668vw;
          }
        }
        .handshake-img,
        .idea-img {
          width: 5.2vw;
          height: 5.2vw;
          margin-bottom: 1.56vw;
          @media (max-width: 767px) {
            width: 20.82vw;
            height: 20.8vw;
          }
        }
      }
      .card-content {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.8658008658008658vw;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          font-size: 3.463vw;
          line-height: 5vw;
        }
      }
    }
  }
}
section:nth-child(5) {
  background: url("./img/s5.png"), #005141 no-repeat center center;
  background-size: 100% 100%;
  position: relative;
  width: 100%;
  height: 72.708vw;
  padding: 7.2917vw 0 0 18.385vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    background-size: cover;
    height: auto;
  }
  .container-fluid {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    .heading {
      @media (max-width: 767px) {
        text-align: center;
      }
      strong {
        font-size: 1.2987012987012987vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          font-size: 4.19vw;
          line-height: 5vw;
        }
      }
      h2 {
        font-size: 5.208vw;
        font-family: "Gochi Hand", cursive;
        font-style: normal;
        font-weight: normal;
        line-height: 5.208vw;
        @media (max-width: 767px) {
          font-size: 15.83vw;
          line-height: 20.83vw;
        }
      }
    }
    .s5-bonobo-content-main-block {
      color: #fff;
      margin-top: 2.604vw;
      .s5-bonobo-content-block-1 {
        width: 41.458vw;
        display: inline-block;
        @media (max-width: 767px) {
          width: 100%;
          display: block;
        }
        .s5-bonobo-content-block-sub-child {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 2em;
          justify-content: space-around;
          height: 100%;
          margin-left: 1rem;
          margin-right: 0.2rem;
          margin-left: 0.2rem;
          margin-top: 3rem;
          grid-gap: 2em;
        }
        .card-1,
        .card-2,
        .card-3 {
          border-radius: 13px;
          background-color: #005141;
          font-size: 13px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        .card-1 {
          padding: 2.083vw 1.562vw;
          @media (max-width: 767px) {
            padding: 8.331vw 6.248vw;
          }
          div {
            position: relative;
            @media (max-width: 767px) {
              height: 12vw;
            }
            strong {
              font-family: "Montserrat", sans-serif;
              color: #fccf00;
              font-size: 2.083vw;
              font-weight: 900;
              font-style: normal;
              font-weight: 800;
              line-height: 2.7083vw;
              width: 6.51vw;
              display: inline-block;
              @media (max-width: 767px) {
                font-size: 7.332vw;
                line-height: 10.83vw;
                width: 20.04vw;
                position: absolute;
                left: 0;
                top: 0;
                line-height: 5vw;
              }
            }
            span {
              font-size: 0.833vw;
              line-height: 2.7083vw;
              position: relative;
              top: -0.392vw;
              @media (max-width: 767px) {
                font-size: 3.332vw;
                line-height: 5vw;
                display: inline-block;
                width: 48vw;
                margin-left: 20.8vw;
              }
            }
            .c {
              font-weight: bolder;
            }
          }
        }
        .card-2 {
          height: 20.78vw;
          padding: 2.083vw 1.56vw;
          @media (max-width: 767px) {
            width: 37vw;
            height: auto;
            padding: 8.192vw 6.24vw;
          }
          .card-heading {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 1.2987012987012987vw;
            line-height: 1.67vw;
            @media (max-width: 767px) {
              font-size: 3.1948vw;
              line-height: 6.68vw;
            }
          }
          .card-body {
            width: 100%;
            padding: 0;
            div {
              font-size: 0.833vw;
              font-family: "Montserrat", sans-serif;
              font-style: normal;
              line-height: 1.25vw;
              margin-top: 1.042vw;
              @media (max-width: 767px) {
                font-size: 2.1948vw;
                line-height: 4.32vw;
              }
              strong {
                line-height: 1.25vw;
              }
            }
          }
        }
        .card-3 {
          height: 20.78vw;
          padding: 2.083vw 1.56vw;
          @media (max-width: 767px) {
            padding: 8.192vw 6.24vw;
          }
          @media (max-width: 767px) {
            width: 37vw;
            height: auto;
          }
          .card-heading {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 1.25vw;
            line-height: 1.67vw;
            @media (max-width: 767px) {
              font-size: 3.1948vw;
              line-height: 5.68vw;
            }
          }
          ul {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-size: 0.8658008658008658vw;
            line-height: 1.2vw;
            margin-top: 0.8vw;
            padding-left: 10px;
            @media (max-width: 767px) {
              font-size: 2.1948vw;
              line-height: 3.68vw;
              margin-top: 3.2vw;
            }
            li {
              padding: 0rem 0rem 1rem 0rem;
            }
          }
        }
      }
      .s5-bonobo-content-block-2 {
        width: 33vw;
        display: inline-block;
        @media (max-width: 767px) {
          width: 100%;
          display: block;
        }
        .card-1 {
          border-radius: 13px;
          background-color: #005141;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          position: relative;
          padding: 2.08vw 1.56vw 0.08vw 1.56vw;
          margin-top: -21.93vw;
          width: 19.68vw;
          margin-left: 2.5vw;
          @media (max-width: 767px) {
            width: 90%;
            height: auto;
            padding: 8.32vw 6.24vw;
          }

          .card-heading {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 1.2987012987012987vw;
            line-height: 1.67vw;
            @media (max-width: 767px) {
              font-size: 3.1948vw;
              line-height: 8.68vw;
            }
          }
          p {
            margin-top: 0.781vw;
            width: 90%;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-size: 0.8658008658008658vw;
            line-height: 1.25vw;
            @media (max-width: 767px) {
              font-size: 2.1948vw;
              line-height: 3.68vw;
            }
          }
          ul {
            z-index: 1;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-size: 0.8658008658008658vw;
            line-height: 1.25vw;
            margin-top: 1.02vw;
            padding-left: 10%;
            li {
              line-height: 1.25vw;
              @media (max-width: 767px) {
                font-size: 2.1948vw;
                line-height: 3.68vw;
              }
              span {
                font-weight: 900;
                color: #fccf00;
              }
            }
          }
        }
        .bonobo-head-svg-block {
          padding-left: 1.04vw;
          @media (max-width: 767px) {
            text-align: right;
          }
          .face {
            width: 14.37vw;
            position: relative;
            z-index: 3;
            @media (max-width: 767px) {
              left: 9.6vw;
              top: -8.13vw;
            }
          }
          .monkey {
            width: 25.26vw;
            z-index: 0;
            margin-top: -15.26vw;
            margin-left: 5.104vw;
            @media (max-width: 767px) {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.social-info-block {
  background: url("./img/info.png"), #00392e;
  width: 100%;
  height: 35.427vw;
  background-size: 100% 100%;
  padding: 7.2917vw 0 0 18.385vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    background-size: cover;
    height: auto;
  }
  .content {
    position: relative;
    .content-block {
      width: 22.135vw;
      display: inline-flex;
      margin-right: 14.25vw;
      color: #fff;
      @media (max-width: 767px) {
        width: 100%;
        margin: 2.08vw auto;
      }
      .txt-heading {
        font-family: "Gochi Hand", cursive;
        font-size: 3.125vw;
        line-height: 3.125vw;
        margin: 2.083vw 0 1.093vw 0;
        @media (max-width: 767px) {
          font-size: 12.5vw;
          line-height: 12.5vw;
          margin: 8.332vw 0 4.372vw 0;
        }
      }
      .txt-content {
        font-family: "Montserrat", sans-serif;
        font-size: 0.833vw;
        line-height: 1.25vw;
        font-weight: 500;
        @media (max-width: 767px) {
          font-size: 3.332vw;
          line-height: 5vw;
        }
      }
      img {
        width: 6.25vw;
        @media (max-width: 767px) {
          width: 25vw;
        }
      }
    }
  }
}
section:nth-child(7) {
  background: url("./img/buyback.png") no-repeat, #00ac4d no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: 100%;
  height: 56.25vw;
  padding: 6.2917vw 0 0 18.385vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    height: auto;
    background-size: cover;
  }
  .content {
    .s5-bonobo-heading-block {
      color: #fff;
      div {
        .sub {
          font-size: 1.25vw;
          line-height: 1.25vw;
          font-weight: 900;
          font-family: "Montserrat", sans-serif;
          @media (max-width: 767px) {
            font-size: 5vw;
            line-height: 5vw;
            text-align: center;
          }
        }
        .main {
          font-size: 5.208rem;
          font-family: "Gochi Hand", cursive;
          line-height: 5.208vw;
          margin-bottom: 1.042vw;
          @media (max-width: 767px) {
            font-size: 20.832vw;
            line-height: 20.831vw;
            text-align: center;
            margin-bottom: 4.168vw;
          }
        }
      }
    }
    .bonobo-content-block {
      color: #fff;
      .card {
        display: inline-flex;
        width: 16.1vw;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        margin-right: 6.191vw;
        @media (max-width: 767px) {
          width: 100%;
          margin: auto;
          margin-bottom: 4.16vw;
        }
        .child-card {
          .step {
            div {
              span {
                font-size: 0.833vw;
                font-family: "Montserrat", sans-serif;
                font-weight: 900;
                text-transform: uppercase;
                position: relative;
                z-index: 2;
                top: -1.489vw;
                @media (max-width: 767px) {
                  font-size: 3.332vw;
                  top: -5.956vw;
                }
              }
              strong {
                font-family: "Montserrat", sans-serif;
                font-weight: 800;
                font-size: 5.208vw;
                color: #005141;
                position: relative;
                left: -1.3vw;
                @media (max-width: 767px) {
                  font-size: 20.832vw;
                  left: -5.2vw;
                }
              }
            }
          }
          .step-heading {
            font-size: 1.4vw;
            font-weight: bolder;
            margin-bottom: 1.042vw;
            @media (max-width: 767px) {
              font-size: 5.6vw;
              margin-bottom: 4.168vw;
            }
          }

          .step-content {
            font-size: 0.833vw;
            line-height: 1.25vw;
            @media (max-width: 767px) {
              font-size: 3.332vw;
              line-height: 5vw;
            }
            a {
              color: #005141;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
section:nth-child(8) {
  background-color: #005141;
  width: 100%;
  position: relative;
  padding: 9.37vw 0 9vw 18.385vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    height: auto;
  }
  .content {
    .heading {
      color: #fff;
      strong {
        font-size: 1.25vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          font-size: 5vw;
          line-height: 5vw;
        }
      }
      h2 {
        font-family: "Gochi Hand", cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 5.208vw;
        line-height: 5.208vw;
        @media (max-width: 767px) {
          font-size: 16.832vw;
          line-height: 16.832vw;
        }
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.833vw;
        line-height: 1.25vw;
        width: 31.764069264069263vw;
        @media (max-width: 767px) {
          font-size: 3.332vw;
          line-height: 5vw;
          width: 67vw;
        }
      }
    }
    .card-flow {
      width: 100%;
      overflow: hidden;
      padding-bottom: 15px;
    }
    .card-section {
      position: relative;
      margin-top: 2.24vw;
      width: 8000px;
      transition: left 1s;
      .card {
        padding: 1.56vw 1.56vw 0;
        box-shadow: 5px 8px 8px rgba(17, 17, 17, 0.2) !important;
        width: 14.27vw;
        height: 11.42vw;
        background: #015f4d;
        box-shadow: 0px 10px 30px rgba(17, 17, 17, 0.2);
        border-radius: 16px;
        position: relative;
        display: inline-block;
        margin-right: 2.03vw;
        @media (max-width: 767px) {
          width: 90vw;
          height: 64.98vw;
          margin-right: 0;
          padding: 6.24vw 6.24vw 0;
        }
        .overlay {
          position: absolute;
          z-index: 3;
          width: 14.27vw;
          height: 11.42vw;
          background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            #005141
          );
          left: 0;
          top: 0;
          @media (max-width: 767px) {
            width: 0;
            height: 0;
          }
        }
        .cards-header {
          div {
            img {
              width: 1.042vw;
              height: 1.042vw;
              margin-right: 0.52vw;
              @media (max-width: 767px) {
                width: 4.168vw;
                height: 4.168vw;
                margin-right: 2.08vw;
              }
            }
            span {
              font-family: "Montserrat", sans-serif;
              font-style: normal;
              font-weight: 800;
              font-size: 0.803vw;
              color: #ffffff;
              display: inline-flex;
              width: 7.76vw;
              @media (max-width: 767px) {
                font-size: 3.212vw;
                width: 31.04vw;
              }
            }
          }
        }
        .cards-body {
          p {
            margin-top: 0.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25vw;
            font-family: "Montserrat", sans-serif;
            font-size: 0.803vw;
            color: #ffffff;
            @media (max-width: 767px) {
              font-size: 3.212vw;
              line-height: 5vw;
              margin-top: 2vw;
            }
          }
        }
      }
    }
    .btns {
      margin-top: 2.5vw;
      @media (max-width: 767px) {
        margin-top: 5vw;
      }
      img {
        width: 3.37vw;
        padding: 0.573vw 0.83vw;
        border-radius: 20px;
        margin-right: 2vw;
        @media (max-width: 767px) {
          width: 13.48vw;
          padding: 2.292vw 5vw;
          margin-right: 8vw;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .greenbtn {
        background: #015f4d;
      }
      .yellowbtn {
        background: #fccf00;
      }
    }
  }
}
section:nth-child(9) {
  // background: url("./img/s9.png") no-repeat, #015f4d no-repeat center center;
  background-size: 100% 100%;
  padding: 9.37vw 18.385vw 7.1vw 18.385vw;
  height: auto;
  @media (max-width: 767px) {
    padding: 40px 20px;
    height: auto;
  }
  .content {
    .s9-bonobo-heading-block {
      div {
        color: #fff;
        @media (max-width: 767px) {
          text-align: center;
        }
        .sub {
          font-size: 1.25vw;
          width: 100%;
          font-family: "Montserrat", sans-serif;
          @media (max-width: 767px) {
            font-size: 5vw;
          }
        }
        .main {
          font-size: 5.208vw;
          font-family: "Gochi Hand", cursive;
          @media (max-width: 767px) {
            font-size: 17.83vw;
          }
        }
      }
    }

    .content-card-blocks {
      height: 100%;
      color: #fff;
      margin-top: 1.56vw;
      .content-card-block-1 {
        height: 100%;
        padding-top: 4.56vw;
        .card {
          margin: 0 auto;
          width: 14.27vw;
          position: relative;
          background: none;
          border: none;
          margin-bottom: 2.23vw;
          @media (max-width: 767px) {
            width: 28.08vw;
            margin-bottom: 8.92vw;
          }
          div {
            div {
              background-color: #00a259;
              font-size: 1.56vw;
              font-family: "Montserrat", sans-serif;
              font-weight: 900;
              border-radius: 30px;
              width: 8.8vw;
              height: 3.125vw;
              text-align: center;
              padding-top: 0.372vw;
              @media (max-width: 767px) {
                font-size: 3.86vw;
                width: 21.74vw;
                height: 6.76vw;
              }
            }
            ul {
              font-family: "Montserrat", sans-serif;
              line-height: 1.25vw;
              margin-top: 2.415vw;
              font-size: 0.833vw;
              @media (max-width: 767px) {
                line-height: 3.14vw;
                margin-top: 3.14vw;
                font-size: 2.415vw;
                padding-left: 2.89vw;
              }
            }
          }
        }
      }
      .content-card-block-2 {
        height: 100%;
        .card {
          margin: 0 auto;
          width: 14.27vw;
          position: relative;
          background: none;
          border: none;
          margin-bottom: 2.23vw;
          @media (max-width: 767px) {
            width: 28.08vw;
            margin-bottom: 8.92vw;
          }
          div {
            div {
              background-color: #00a259;
              font-size: 1.56vw;
              font-family: "Montserrat", sans-serif;
              font-weight: 900;
              border-radius: 30px;
              width: 8.8vw;
              height: 3.125vw;
              text-align: center;
              padding-top: 0.372vw;
              @media (max-width: 767px) {
                font-size: 3.86vw;
                width: 21.74vw;
                height: 6.76vw;
              }
            }
            ul {
              font-family: "Montserrat", sans-serif;
              line-height: 1.25vw;
              margin-top: 2.415vw;
              font-size: 0.833vw;
              @media (max-width: 767px) {
                line-height: 3.14vw;
                margin-top: 3.14vw;
                font-size: 2.415vw;
                padding-left: 2.89vw;
              }
            }
          }
        }
      }
    }
  }
}
section:nth-child(10) {
  background: #00392e no-repeat center center;
  background-size: 100%;
  padding: 0 0 9.37vw 18.385vw;
  height: 60.42vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    height: auto;
  }

  .content {
    .s10-bonobo-content-card {
      padding-top: 9.37vw;
      color: #fff;
      position: relative;
      display: inline-block;
      width: 30.57vw;
      @media (max-width: 767px) {
        width: 100%;
        padding-top: 0;
        text-align: center;
      }
      strong {
        font-size: 1.25vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          font-size: 5vw;
          line-height: 5vw;
        }
      }
      h2 {
        font-size: 5.208vw;
        font-family: "Gochi Hand", cursive;
        font-style: normal;
        font-weight: normal;
        line-height: 5.208vw;
        @media (max-width: 767px) {
          font-size: 13.33vw;
          line-height: 20.83vw;
        }
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.833vw;
        line-height: 1.25vw;
        margin-bottom: 1.25vw;
        @media (max-width: 767px) {
          font-size: 3.33vw;
          line-height: 5vw;
          margin-bottom: 5vw;
        }
        b {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 900;
          font-size: 0.9658008658008658vw;
          line-height: 1.25vw;
          @media (max-width: 767px) {
            font-size: 3.84vw;
            line-height: 5vw;
          }
        }
      }
      button {
        font-size: 1.25vw;
        width: 14.27vw;
        height: 3.125vw;
        margin-top: 1.14vw;
        padding: 0;
        @media (max-width: 767px) {
          font-size: 5vw;
          width: 57.08vw;
          height: 12.5vw;
          margin-top: 4.56vw;
        }
      }
    }
    .monkey {
      width: 47.3vw;
      display: inline-block;
      img {
        width: 100%;
      }
      @media (max-width: 767px) {
        width: 90vw;
        margin: 5.25vw auto;
      }
    }
  }
}
section:nth-child(11) {
  background-color: #00a259;
  height: 38.5vw;
  padding: 9.37vw 0 9.37vw 18.385vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    height: auto;
  }
  .content {
    .s11-bonobo-content-card {
      color: #fff;
      display: inline-block;
      width: 30.57vw;
      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
      }
      strong {
        font-size: 1.25vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          font-size: 5vw;
          line-height: 5vw;
        }
      }
      h2 {
        font-family: "Gochi Hand", cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 5.208vw;
        line-height: 5.208vw;
        @media (max-width: 767px) {
          font-size: 13.832vw;
          line-height: 20.832vw;
        }
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.803vw;
        line-height: 1.25vw;
        margin-bottom: 2.68vw;
        @media (max-width: 767px) {
          font-size: 3.212vw;
          line-height: 5vw;
          margin-bottom: 5.12vw;
        }
      }
    }

    .s11-dashboard-img-block {
      display: inline-block;
      width: 30.57vw;
      margin-left: 2.083vw;
      @media (max-width: 767px) {
        width: 73vw;
        margin-left: 7.23vw;
      }
      img {
        width: 100%;
      }
    }
  }
}
.section-12 {
  background-color: #005141;
  padding: 0 0 0 18.385vw;
  height: 25vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    height: auto;
  }
  .main {
    .s12-bonobo-content-card {
      color: #fff;
      display: inline-block;
      width: 35.52vw;
      padding-top: 6.35vw;
      @media (max-width: 767px) {
        padding: 0;
        width: 100%;
        text-align: center;
      }
      strong {
        font-size: 1.25vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        text-transform: uppercase;
        @media (max-width: 767px) {
          font-size: 5vw;
          line-height: 15vw;
        }
      }
      h2 {
        font-family: "Gochi Hand", cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 5.208vw;
        line-height: 5.208vw;
        @media (max-width: 767px) {
          font-size: 16.21vw;
          line-height: 16.21vw;
        }
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.803vw;
        line-height: 1.25vw;
        width: 30.57vw;
        @media (max-width: 767px) {
          width: 90%;
          margin: auto;
          font-size: 3.21vw;
          line-height: 5vw;
        }
      }
    }
    .s12-vector-block {
      display: inline-block;
      width: 37.5vw;
      @media (max-width: 767px) {
        width: 80vw;
        margin-top: 5vw;
        margin-left: 5vw;
      }
      div {
        float: left;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
section:nth-child(13) {
  background: #015f4d;
  height: 61.45vw;
  padding: 0 0 0 18.385vw;
  @media (max-width: 767px) {
    height: auto;
    padding: 0 20px;
  }
  .container-fluid {
    .s13-bonobo-content-card {
      display: inline-block;
      width: 19.68vw;
      padding-top: 10.52vw;
      @media (max-width: 767px) {
        width: 100%;
        padding-top: 40px;
        text-align: center;
      }
      div {
        color: #fff;
        strong {
          font-size: 1.25vw;
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 800;
          line-height: 1.25vw;
          text-transform: uppercase;
          @media (max-width: 767px) {
            font-size: 6vw;
            line-height: 5vw;
          }
        }
        h2 {
          font-family: "Gochi Hand", cursive;
          font-style: normal;
          font-weight: normal;
          font-size: 5.208vw;
          line-height: 5.208vw;
          @media (max-width: 767px) {
            font-size: 17.83vw;
            line-height: 20.83vw;
          }
        }

        p {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 0.833vw;
          line-height: 1.25vw;
          @media (max-width: 767px) {
            font-size: 3.332vw;
            line-height: 5vw;
          }
        }
      }
    }
    .s13-img-block {
      width: 58vw;
      padding: 4.167vw 1.48vw;
      @media (max-width: 767px) {
        width: 87vw;
      }
      div {
        width: 17.7vw;
        margin-right: 3.28vw;
        display: inline-block;
        color: #fff;
        margin-bottom: 1.34vw;
        @media (max-width: 767px) {
          width: 33vw;
        }
        &:first-child {
          margin-left: 3.42vw;
          @media (max-width: 767px) {
            margin-left: 8.42vw;
          }
        }
        strong {
          display: block;
          font-size: 1.25vw;
          line-height: 1.67vw;
          @media (max-width: 767px) {
            font-size: 4vw;
            line-height: 5.67vw;
          }
        }
        p {
          font-size: 0.833vw;
          line-height: 1.25vw;
          margin-top: 0.44vw;
          @media (max-width: 767px) {
            font-size: 3.12vw;
            line-height: 5vw;
            margin-top: 1.26vw;
          }
        }
        img {
          width: 100%;
        }
      }
      .sline {
        strong,
        p {
          margin-left: 5.06vw;
          @media (max-width: 767px) {
            margin-left: 10.24vw;
          }
        }
      }
    }
  }
}
section:nth-child(14) {
  background-color: #002c24;
}

.dropbtn {
  color: white;
  font-size: 0.8333vw;
  border: none;
}

.dropbtn {
  color: white;

  font-size: 0.8333vw;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: none;
  position: absolute;
  background: #00392e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .drop_down_links {
  color: #fff;
  cursor: pointer;
  outline: inherit;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

// .dropdown-content .drop_down_links:hover {
//   background-color: #ddd;
// }

.dropdown:hover .dropdown-content {
  display: block;
}
.main_tab_pointer {
  cursor: pointer;
}

.linear_gradient_font_color {
  background: linear-gradient(to right, green 0%, Yellow 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.linear_gradient_font_color2 {
  background: linear-gradient(
    to right,
    rgb(157, 157, 235) 0%,
    rgb(245, 92, 117) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
